[h3d]
from_scratch=1
batch_size=20
input_dim_x=20
input_dim_y=20
input_dim_z=25
input_features=42
save_after_iterations=300
train_for_iterations=2000000
num_classes=6
learning_rate=0.0002
validate_after=10
summary_path=/afs/cern.ch/work/s/sqasim/workspace_2/Conv3d/exp1/summary
model_path=/afs/cern.ch/work/s/sqasim/workspace_2/Conv3d/exp1/model

training_files_list=/data/ml/sqasim/data/AllDataConv/train_files.txt
validation_files_list=/data/ml/sqasim/data/AllDataConv/validate_files.txt
test_files_list=/data/ml/sqasim/data/AllDataConv/test_files_few.txt

test_out_path=/afs/cern.ch/work/s/sqasim/workspace_2/Conv3d/exp1/test
model_type=HgCal3d